@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;800&family=Urbanist:wght@100&display=swap");

:root {
  --orange-color: #ed6c34;
  --blue-color: #1667d9;
  --yellow-color: #faf200;
  --black: black;
  --white: white;

  --primary-font: "Kanit", sans-serif;

  --main-text-color: #081fd0;
}

header {
  min-height: 70px;
  align-items: center;
  display: flex;
  width: 100%;
  position: fixed;
}

header ul {
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  margin-right: 20vw;
  margin-left: 20vw;
}

header a {
  font-family: "Kanit";
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

header li {
  list-style-type: none;
}

header a:hover {
  color: #ed6c34;
  transition: 1s;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--black);
  font-family: var(--primary-font);
}

.yellowspan {
  font-size: 3rem;
  font-weight: bold;
  color: var(--yellow-color);
  font-family: var(--primary-font);
}

.blackspan {
  font-size: 3rem;
  font-weight: bold;
  color: var(--black);
  font-family: var(--primary-font);
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--black);
  font-family: var(--primary-font);
}

body {
  background-color: var(--orange-color);
  margin: 0;
}

a {
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

footer {
  background-color: var(--yellow-color);
  font-family: var(--primary-font);
}

main {
  font-family: var(--primary-font);
}

footer {
  background-color: #ed6c34;
  min-height: 100px;
  margin: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
}

footer ul {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}
footer li {
  list-style-type: none;
  font-family: "Kanit";
  font-weight: 700;
  font-size: 1.5rem;
}
