@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;800&family=Urbanist:wght@100&display=swap");

:root {
  --orange-color: #ed6c34;
  --blue-color: #1667d9;
  --yellow-color: #faf200;
  --black: black;
  --white: white;

  --primary-font: "Kanit", sans-serif;

  --main-text-color: #081fd0;
}

body {
  background-color: #ed6c34;
  margin: 0;
  padding: 0;
}

main {
  margin-right: 10vw;
  margin-left: 10vw;
}

header {
  min-height: 70px;
  align-items: center;
  display: flex;
  width: 100%;
  position: fixed;
}

header ul {
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  margin-right: 20vw;
  margin-left: 20vw;
}

header a {
  font-family: "Kanit";
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

header li {
  list-style-type: none;
}

header a:hover {
  color: black;
  transition: 1s;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
}

footer {
  background-color: #faf200;
  min-height: 100px;
  margin: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
}

footer ul {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}
footer li {
  list-style-type: none;
  font-family: "Kanit";
  font-weight: 700;
  font-size: 1.5rem;
}

img {
  height: 600px;
  width: auto;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 10% 40% 40%;
  grid-template-rows: 10vh 90vh;
}

.Wine_info {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  justify-self: flex-start;
  display: grid;
}

.section_2 p {
  font-family: var(--primary-font);
  font-size: 14px;
  max-width: 50vw;
}

.section_2 {
  display: grid;
  grid-template-rows: 35vh 100vh;
  grid-template-columns: 20vw 60vw 20vw;
}

.blue,
.Year,
.Grape,
.Produced,
.Price {
  color: white;
}

.yellow,
.Country,
.Characteristics,
.Size,
.Proof {
  color: black;
}

.map {
  grid-row: 2;
  grid-column: 1/3;
  align-self: flex-start;
  justify-self: center;
}

.description {
  grid-row: 1;
  grid-column: 1/3;
  justify-self: center;
  align-self: flex-start;
}

dl {
  font-family: var(--primary-font);
  font-size: 14px;
  width: 100%;
  overflow: hidden;
}

dt {
  font-family: var(--primary-font);
  font-size: 14px;
  float: left;
  width: 50%;
  margin-bottom: 1px;
}

dd {
  color: white;
  margin-left: 0;
  float: left;
  width: 50%;
  margin-bottom: 1px;
}

h2 {
  font-family: var(--primary-font);
  color: white;
  margin-bottom: 0;
  font-size: 3rem;
  border-bottom: 2px solid black;
}

h3 {
  font-family: var(--primary-font);
  color: white;
  margin-bottom: 0;
  font-size: 2rem;
}

.shop {
  color: #faf200;
}
