@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;800&family=Urbanist:wght@100&display=swap");

:root {
  --orange-color: #ed6c34;
  --blue-color: #1667d9;
  --yellow-color: #faf200;
  --black: black;
  --white: white;

  --primary-font: "Kanit", sans-serif;

  --main-text-color: #081fd0;
}

* {
  background-color: #ed6c34;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 70px;
  align-items: center;
  display: flex;
  width: 100%;
  position: fixed;
}

header ul {
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  margin-right: 20vw;
  margin-left: 20vw;
}

header a {
  font-family: "Kanit";
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

header li {
  list-style-type: none;
}

header a:hover {
  color: #ed6c34;
  transition: 1s;
}
a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
}

footer {
  background-color: #ed6c34;
  min-height: 100px;
  margin: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
}

footer ul {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}
footer li {
  list-style-type: none;
  font-family: "Kanit";
  font-weight: 700;
  font-size: 1.5rem;
}
