@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;800&family=Urbanist:wght@100&display=swap");

:root {
  --orange-color: #ed6c34;
  --blue-color: #1667d9;
  --yellow-color: #faf200;
  --black: black;
  --white: white;

  --primary-font: "Kanit", sans-serif;

  --main-text-color: #081fd0;
}

header {
  min-height: 70px;
  align-items: center;
  display: flex;
  width: 100%;
  position: fixed;
}

header ul {
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  margin-right: 20vw;
  margin-left: 20vw;
}

header a {
  font-family: "Kanit";
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

header li {
  list-style-type: none;
}

header a:hover {
  color: #ed6c34;
  transition: 1s;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--black);
  font-family: var(--primary-font);
}

.welcome {
  grid-row: 2;
  margin-left: 4vw;
}

.intro {
  grid-row: 3;
  margin-left: 50vw;
  margin-right: 10vw;
}
.yellowspan {
  font-size: 3rem;
  font-weight: bold;
  color: var(--yellow-color);
  font-family: var(--primary-font);
}

.blackspan {
  font-size: 3rem;
  font-weight: bold;
  color: var(--black);
  font-family: var(--primary-font);
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--black);
  font-family: var(--primary-font);
}
.y {
  text-align: center;
}

body {
  background-color: var(--orange-color);
  margin: 0;
}

a {
  font-family: var(--primary-font);
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

main {
  font-family: var(--primary-font);
  display: grid;
  grid-template-rows: 5fr 4fr 4fr 1fr 12fr;
  background-image: url(/img/homebgg.PNG);
  background-size: 100%;
}

footer {
  background-color: var(--yellow-color);
  font-family: var(--primary-font);
  min-height: 100px;
  margin: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
}

footer ul {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}
footer li {
  list-style-type: none;
  font-family: "Kanit";
  font-weight: 700;
  font-size: 1.5rem;
}

.yellow {
  background-color: var(--yellow-color);
  grid-row: 4;
}



.blue {
  background-color: var(--blue-color);
  grid-row:5;
  font-size: 2rem;
}


.yellow {
  background-color: var(--yellow-color);
  text-align: center;
  margin: 0;
}

.blue li {
  text-align: center;
  list-style-type: none;
  margin-top: 5em;
}
.blue ol {
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-evenly;
  margin: 5em;
}

.blue li a:hover {
  color: #ed6c34;
  transition: 1s;
}

.topPicks {
  background-image: url(/img/top.PNG);
}
